// ========================================
// Core Sass file
// ========================================
.attachment-media-view {
	.favicon-preview {
		float: left;
		margin-bottom: 0;
		margin-right: 12px;
		margin-top: 5px;
		max-width: 260px;
		overflow: hidden;
		position: relative;
	}

	.favicon {
		height: 16px;
		left: 88px;
		overflow: hidden;
		position: absolute;
		top: 16px;
		width: 16px;

		img {
			max-width: 100%;
			vertical-align: top;
		}
	}

	.browser-title {
		height: 16px;
		left: 109px;
		overflow: hidden;
		position: absolute;
		top: 16px;
		white-space: nowrap;
		width: 72px;
	}

	.app-icon-preview {
		-webkit-border-radius: 16px;
		background-color: #000000;
		border-radius: 16px;
		height: 64px;
		margin-top: 9px;
		overflow: hidden;
		width: 64px;
	}

	.placeholder {
		border: 1px dashed #B4B9BE;
		box-sizing: border-box;
		cursor: default;
		line-height: 20px;
		padding: 9px 0;
		text-align: center;
		width: 260px;
	}

	.controls-wrap {
		margin-top: 10px;
	}

	.site-icon-preview,
	.site-icon-placeholder,
	.remove-button {
		display: none;
	}

	&.show-preview {
		.site-icon-preview {
			display: block;
		}

		.remove-button {
			display: inline-block;
		}

		.site-icon-placeholder {
			display: none;
		}
	}

	&.no-show-preview {
		.site-icon-preview,
		.remove-button {
			display: none;
		}

		.site-icon-placeholder {
			display: block;
		}
	}
}
